In [1]:
import pandas as pd

In [2]:
dst = pd.read_csv("hotel_experience (1).csv")
dst = dst.rename(columns={"overall experience":"exp"})

In [3]:
dst.head(3)

,Unnamed: 0,id,Gender,Age,purpose_of_travel,Type of Travel,Type Of Booking,Hotel wifi service,Departure/Arrival convenience,Ease of Online booking,Hotel location,Food and drink,Stay comfort,Common Room entertainment,Checkin/Checkout service,Other service,Cleanliness,exp
0,0,32746,Female,32,academic,Group Travel,Individual/Couple,5,5,2,5,5,5,5,1,2,5,good
1,1,52532,Male,44,business,Group Travel,Group bookings,3,3,3,3,5,3,4,2,4,1,good
2,2,62644,Male,64,tourism,Personal Travel,Individual/Couple,3,5,3,3,1,1,1,3,5,1,bad

In [4]:
dst = dst.drop("id",axis =1)
dst = dst.drop("Unnamed: 0",axis =1)

In [5]:
dst.head(3)

,Gender,Age,purpose_of_travel,Type of Travel,Type Of Booking,Hotel wifi service,Departure/Arrival convenience,Ease of Online booking,Hotel location,Food and drink,Stay comfort,Common Room entertainment,Checkin/Checkout service,Other service,Cleanliness,exp
0,Female,32,academic,Group Travel,Individual/Couple,5,5,2,5,5,5,5,1,2,5,good
1,Male,44,business,Group Travel,Group bookings,3,3,3,3,5,3,4,2,4,1,good
2,Male,64,tourism,Personal Travel,Individual/Couple,3,5,3,3,1,1,1,3,5,1,bad

In [6]:
import numpy as np
from numpy import log2 as log

In [7]:
grp = dst.groupby("exp")
G = grp.get_group("good")         
B = grp.get_group("bad")
fr_B = len(B)/len(dst)
fr_G = len(G)/len(dst)
En = -fr_G*np.log2(fr_G)-fr_B*np.log2(fr_B)         # En :represents Entropy node
En

0.9871287422332726

In [8]:
dst.exp.value_counts()

bad     56669
good    43331
Name: exp, dtype: int64

In [12]:
attribute = "Hotel wifi service"
target_variables = dst.exp.unique()
variables = dst[attribute].unique()
entropy_attribute = 0
for variable in variables:
    entropy_each_feature = 0
    for target_variable in target_variables:
        num = len(dst[attribute][dst[attribute]==variable][dst.exp ==target_variable])
        den = len(dst[attribute][dst[attribute]==variable])
        fraction = num/(den)
        entropy_each_feature += -fraction*log(fraction)
    fraction2 = den/len(dst)
    entropy_attribute += fraction2*entropy_each_feature 
information_gain = En- entropy_attribute
information_gain

0.23374792539352107